@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    /* Primary Color */
    --primary: #83276b; /* Rich Purple */

    /* Complementary Color */
    --complementary: #6b8327; /* Olive Green */

    /* Analogous Colors */
    --analogous-1: #83278a; /* Vivid Magenta */
    --analogous-2: #832757; /* Deep Magenta */

    /* Light Shade */
    --light-shade: #9b4a8b; /* Soft Lavender */

    /* Dark Shade */
    --dark-shade: #5f1d4b; /* Dark Purple */

    /* Neutral Colors */
    --neutral-light: #ffffff; /* White */
    --neutral-light-gray: #f1f1f1; /* Light Gray */
    --neutral-dark: #333333; /* Dark Gray */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Montserrat';
}
body {
    background-color: var(--neutral-light);
    color: var(--neutral-dark);
}

/* JUMBOTORON */

.jumbotoron {
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}